<link rel="stylesheet" type="text/css" href="css/main.css" />

<div class="container">
    <h1>Welcome <%= name %>
    </h1>
    
    <div class="tenor-gif-embed" data-postid="11273809" data-share-method="host" data-aspect-ratio="1.33333"
        data-width="100%"><a href="https://tenor.com/view/sailor-moon-hello-hi-gif-11273809">Sailor Moon Hello GIF</a>from
        <a href="https://tenor.com/search/sailor+moon-gifs">Sailor Moon GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</div>
